<!DOCTYPE html>
<html>
<body style="background-color:#92a8d1">
<h1 style="position:fixed; left: 580px">JSON Validator</h1>
<h3 style="position: absolute; left: 60px; top: 60px">Text</h3>
<h3 style="position: absolute; left: 890px; top: 60px">Validated JSON</h3>

<form action="/" method="post">
    <textarea name="text" placeholder="Enter the Text" id="Raw_text" style="position:relative; height:500px; width:500px;left:50px; top: 100px"></textarea>
    <input type="button" style="position:absolute; left:650px; top:300px" value="Validate">
</form>

<textarea style="position:absolute;height:500px; width:500px; left:800px; top:110px">{{results}}</textarea>
</body>
</html>